.App {
  background: linear-gradient(to right, #e3ecff 50%, #e5eeff 50%);
  /*  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*  */
  padding: 100px 0;
}
/* Utility classes */
.center {
  max-width: 1200px;
  margin: 0 auto;
}
.width {
  width: 422px;
}
/*  */

/* Media Query */
@media only screen and (max-width: 600px) {
  .center {
    max-width: 400px;
  }

  .App {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 376px) {
  .center {
    max-width: 350px;
  }

  .App {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 345px) {
  .center {
    max-width: 330px;
  }
}
@media only screen and (max-width: 330px) {
  .center {
    max-width: 320px;
  }
}
@media only screen and (max-width: 321px) {
  .center {
    max-width: 310px;
  }
}
@media only screen and (max-width: 311px) {
  .center {
    max-width: 300px;
  }
}
@media only screen and (max-width: 300px) {
  .center {
    max-width: 290px;
  }
}
