/* Default behaviour reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  */

/* Custom CSS variables */
:root {
  --color-1: #4c82ef;
  --color-2: #737373;
  --color-3: #666666;
  --color-4: #ffffff;
  --color-5: #f4f4f4;
  --color-6: #333333;
  --color-7: #949494;
  --color-8: #f2cf18;
  --color-9: #f2f7ff;
  --color-10: #3fe225;
  --color-11: #ffed8c;
  --color-12: #7a7f8c;
  --color-13: #b1b1b1;
  --color-14: #dcf7c5;
  --color-15: #e3ecff;
  --color-16: #dcf7c5;
  --border-rad: 20px;
  --line-height: 1.5;
}

body {
  font-family: "Poppins", sans-serif;
}

/* General default styles */
li {
  list-style: none;
}
button {
  cursor: pointer;
}
/*  */
